BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: false
IndentCaseLabels: true
Standard: c11
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
ContinuationIndentWidth: 4
PenaltyBreakBeforeFirstCallParameter: 1000000
